<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Home</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link th:href="@{/css/index.css}" rel="stylesheet">
<link th:href="@{/css/control.css}" rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat|Raleway|Work+Sans"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
	integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	crossorigin="anonymous">

</head>

<body>

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<!-- Page Content -->
	<div class="container mt-3 mb-5 text-white">
		<!-- Page Heading -->
		<h1 class="my-4 text-white">Usuarios</h1>

		<div class="row control-row-heading p-3">
			<div class="col-lg-3 col">E-mail</div>
			<div class="col-lg-3 col">Nombre</div>
			<div class="col-lg-4 col">Ver comentarios</div>
			<div class="col-lg-2 col">Eliminar</div>
		</div>

		<div class="row control-row p-3" th:each="us: ${users}">
			<div class="col-lg-3 col"><a th:href="@{/user/social?id=} + ${us.id}"  th:text="${us.email}">mario@gmail.com</a></div>
			<div class="col-lg-3 col" th:text="${us.name}">Mario</div>
			<div class="col-lg-4 col"><a th:href="@{/user/comments?id=} + ${us.id}" th:text="${us.comments.size()}">2 comentarios</a></div>
			<div class="col-lg-2 col" >
				<a th:href="'/admin/delete?id='+${us.id}"><i
					class="fas fa-times pl-4 borrar"></i></a>
			</div>
		</div>

	</div>

	<!-- Footer -->
	<th:block th:include="includes/footer :: footer"></th:block>

	<!-- Bootstrap core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
		integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
		integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
		crossorigin="anonymous"></script>

</body>

</html>