<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Profile</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link th:href="@{/css/index.css}" rel="stylesheet">
<link th:href="@{/css/social.css}" rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Open+Sans|Montserrat|Raleway|Work+Sans"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
	integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	crossorigin="anonymous">
</head>

<body>

	<!-- Navigation-->
	<th:block th:include="includes/navbar :: navbar"></th:block>

	<!-- Page Content -->
	<div class="container text-white">
		<div class="row no-gutters mt-5">
			<div class="col-lg-3"></div>
			<div class="col-lg-6  rounded sombra2 bg-custom p-5">
				<h2>Configuración general</h2>
				<form class="mt-4">
					<div class="form-group">
						<label for="userName">Nombre</label> <input type="text"
							class="form-control" id="userName" required="required">
					</div>
					<div class="form-group">
						<label for="descripcion">Descripción</label>
						<textarea class="form-control" id="userDescription" rows="3"
							required="required"></textarea>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Contraseña</label> <input
							type="password" class="form-control" id="exampleInputPassword1"
							placeholder="Contraseña" required="required">
					</div>

					<div class="form-group text-center mt-4">
						<button type="submit" class="btn btn-primary mt-3 center-block">Guardar</button>
					</div>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div>


	</div>
	<!-- FIN CAROUSEL -->

	<!-- Bootstrap core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
		integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
		integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
		crossorigin="anonymous"></script>

	<script type="text/javascript" href="../js/social.js}"></script>
</body>

</html>