body {
	padding-top: 54px;
	background-color: #293741;
	font-family: Open Sans;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
	}
}

.navbar {
	font-family: Montserrat;
	font-weigth: normal;
}

.portfolio-item {
	margin-bottom: 30px;
}

.pagination {
	margin-bottom: 30px;
}

.round {
	border-radius: 10px;
}

.sombra {
	box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.64);
}

.transition {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.grow {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all 0.5s ease;
}

@media not all and (pointer: coarse) {
	.grow:hover {
		transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-o-transform: scale(1.03);
	}
}

.score {
	font-size: 14px;
	height: 30px;
	width: 30px;
	background-color: #F18A02;
	border-radius: 50%;
	text-align: center;
	padding: 4px;
	position: absolute;
	left: 80%;
	top: 60%;
}

.avatar {
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media ( min-width : 768px) {
	.score {
		font-size: 16px;
		height: 39px;
		width: 39px;
		background-color: #F18A02;
		border-radius: 50%;
		text-align: center;
		padding: 7px;
		position: absolute;
		left: 88%;
		top: 76%;
	}
}