body{
	background-color: rgb(32,34,49);
}

.container form{
	width: 500px;
	background-color: rgba(255,255,255, 0.9);
	padding: 20px;
	position: absolute;
	top: 25%;
	left: 31%;
	font-size: 30px;
}

.reg button{
	background-color: rgb(60,63,99);
	color: white;
	height: 50px;
	font-size: 18px;
}

.reg button:hover{
	color: white;
	background-color: rgb(51,122,183,0.5);
}