body {
	font-family: Montserrat;
	padding-top: 105px;
	font-size: 16px;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #FF0000;
}

.no-padding {
	padding: 0;
}

.modal {
	padding-top: 160px;
}

.modal-backdrop.in {
	filter: alpha(opacity = 7);
	opacity: 0.7;
}

.modal-content {
	background: none;
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-body {
	padding: 0 25px 25px 25px;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	text-align: right;
}

.modal-header, .modal-footer {
	border: 0;
}

.modal-header .close {
	float: none;
	margin-top: -11%;
	font-size: 58px;
	color: #fff;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
	margin-left: 103%;
}

@
keyframes spin {to { transform:rotate(360deg);
	
}

}
.stroke-solid {
	stroke-dashoffset: 0;
	stroke-dashArray: 300;
	stroke-width: 4px;
	transition: stroke-dashoffset 1s ease, opacity 1s ease;
}

.icon {
	transform: scale(0.8);
	transform-origin: 50% 50%;
	transition: transform 200ms ease-out;
}

#play:hover .stroke-solid {
	opacity: 1;
	stroke-dashoffset: 300;
}

#play:hover .icon {
	transform: scale(0.9);
}

#play {
	cursor: pointer;
}

.full-width-image {
	position: fixed;
	left: 0;
	right: 0;
	top: 5%;
	bottom: 0;
	background-repeat: no-repeat !important;
	background-position: center top !important;
	z-index: -1;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 135px 20px rgba(0, 0, 0, 0.81);
	-moz-box-shadow: inset 0px 0px 135px 20px rgba(0, 0, 0, 0.81);
	box-shadow: inset 0px 0px 135px 20px rgba(0, 0, 0, 0.81);
	filter: brightness(75%);
	-webkit-filter: brightness(.75);
	overflow: hidden;
}

.fondo {
	margin-top: 90px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.text-score {
	font-size: 22px;
	height: 60px;
	width: 60px;
	background-color: #242431;
	border-radius: 50%;
	text-align: center;
	padding: 14px;
	position: absolute;
	margin: 20% 0;
}

.score-bg {
	color: #00C1C9;
	font-size: 25px;
	font-weight: bold;
	
}

.center {
	margin-left: 31%;
	margin-top: 30px;
}

.grow {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all 0.5s ease;
}

.grow:hover {
	opacity: 0.9;
}

@media not all and (pointer: coarse) {
	.grow:hover {
		filter: brightness(80%);
	}
}

.round {
	border-radius: 10px;
	filter: brightness(90%);
}

.sombra {
	box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.64);
}

.carousel-control-next, .carousel-control-prev {
	top: -90px;
}

.carousel-control-next {
	right: -90px;
}

.carousel-control-prev {
	left: -90px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 30px;
	height: 30px;
}

.media-carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
	left: -12px;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right {
	right: -12px !important;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width: 40px;
	margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
	background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
	background: #333333;
}

.media-carousel img {
	width: 250px;
	height: 100px
}

.bg-custom {
	background-color: #252F3A;
	opacity: 0.95;
	border-radius: 10px;
}

.shadow-bottom {
	box-shadow: inset 0px -38px 80px -58px #111;
}

.btn-custom {
	background-color: #C2185B;
}

.marcar {
	padding: 0 60px;
}

.bg-custom2{
	background-color: #1D1E22;
	border-radius:5px 5px 0 0;
}


/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
h1 {
	font-size: 2.5rem;
} /*1rem = 16px*/
*
/
/* Small devices (landscape phones, 544px and up) */





@media ( min-width : 544px) {
	h1 {
		font-size: 2rem;
	} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media ( min-width : 768px) {
	h1 {
		font-size: 2.5rem;
	} /*1rem = 16px*/
	#play {
		cursor: pointer;
		margin-bottom: 100px;
	}
	.center {
		float: right;
	}
	.marcar {
		padding: 0;
	}
}

/* Large devices (desktops, 992px and up) */
@media ( min-width : 992px) {
	h1 {
		font-size: 3rem;
	} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
	h1 {
		font-size: 5rem;
	} /*1rem = 16px*/
}