<div th:fragment="navbar">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Cinebook</a>
			<button class="custom-toggler navbar-toggler" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"> </span>
			</button>
			<div class="collapse navbar-collapse ml-3" id="navbarResponsive">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/user/index}">Últimos Estrenos</a></li>
				</ul>
				<form class="form-inline" name="f" th:action="@{/user/search}"
					method="get">
					<input class="form-control mr-sm-2" type="text" name="title"
						placeholder="Buscar ..." />
					<button class="btn my-2 my-sm-0" type="submit">Buscar</button>
				</form>
				<ul class="navbar-nav">
					<li class="nav-item dropdown ml-4"><a href="#"
						data-toggle="dropdown" class="nav-link  user-action p-1"><img
							src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg"
							class="avatar" alt="Avatar" style="border-radius: 100%"></a>
						<ul class="dropdown-menu dropdown-menu-right mt-2">
							<li><a th:href="@{/user/social?id=} + ${sesion.id}"
								class="dropdown-item"><i class="fas fa-user-circle"></i> Profile</a></li>
							<li><a href="#" class="dropdown-item"><i
									class="fas fa-cog"></i> Settings</a></li>
							<li class="divider dropdown-divider"></li>
							<li><a th:href="@{/logout}" class="dropdown-item"><i
									class="fas fa-sign-out-alt"></i> Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
</div>